<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kke.travelplan" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".IntroActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_intro"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".FindIdActivity"
            android:label="@string/title_activity_find_id" >
        </activity>
        <activity
            android:name=".FindPasswordActivity"
            android:label="@string/title_activity_find_password" >
        </activity>
        <activity
            android:name=".FindIdResultAcitvity"
            android:label="@string/title_activity_find_id_result_acitvity" >
        </activity>
        <activity
            android:name=".NewPasswordActivity"
            android:label="NewPasswordActivity" >
        </activity>
        <activity
            android:name=".FindPasswordResultActivity"
            android:label="FindPasswordResultActivity" >
        </activity>
        <activity
            android:name=".SignUpFormActivity"
            android:label="SignUpFormActivity" >
        </activity>
        <activity
            android:name=".SignUpResultActivity"
            android:label="SignUpResultActivity" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".AddPlanActivity"
            android:label="@string/title_activity_add_plan" >
        </activity>
        <activity
            android:name=".EditPlanActivity"
            android:label="@string/title_activity_edit_plan" >
        </activity>
        <activity
            android:name=".PlanItemsActivity"
            android:label="@string/title_activity_plan_items" >
        </activity>
        <activity
            android:name=".SearchPlaceActivity"
            android:label="@string/title_activity_search_place" >
        </activity>
        <activity
            android:name=".AddPlaceActivity"
            android:label="@string/title_activity_add_place" >
        </activity>
    </application>

</manifest>
